- if invoice
  .pull-right= link_to t('.edit'), edit_finance_invoice_path(invoice), :class => 'btn btn-small'
%h3= t('.invoice')

- unless invoice
  = t '.new_body'
  = link_to t('.new'), new_finance_invoice_path(:order_id => @order, :supplier_id => @order.supplier)
- else
  %table
    %tr
      %td= t('.invoice_number')
      %td= invoice.number
    %tr
      %td= t('.invoice_date')
      %td= invoice.date
    %tr
      %td= t('.invoice_amount')
      %td.currency.pull-right= number_to_currency invoice.amount
    %tr
      %td= t('.minus_refund_calculated')
      %td.currency.pull-right= number_to_currency invoice.deposit
    %tr
      %td= t('.plus_refund_credited')
      %td.currency.pull-right= number_to_currency invoice.deposit_credit
    %tr
      %td= t('.refund_adjusted_amount')
      %td.currency.pull-right= number_to_currency invoice.net_amount
  %br/
  - if (invoice.note)
    .row-fluid
      %strong Note:
      %pre= invoice.note

