- title t('.title')

- if current_user.role_suppliers?
  - content_for :actionbar do
    = link_to t('.action_new'), new_supplier_path, class: 'btn btn-primary'
    - if FoodsoftConfig[:shared_lists]
      = link_to t('.action_import'), shared_suppliers_suppliers_path, class: 'btn'
%table.table.table-striped
  %thead
    %tr
      %th= heading_helper Supplier, :name
      %th= heading_helper Supplier, :phone
      %th= heading_helper Supplier, :customer_number, short: true
      %th
      %th
      %th
  %tbody
    - for supplier in @suppliers
      %tr
        %td= link_to h(supplier.name) , supplier
        %td= supplier.phone
        %td= supplier.customer_number
        %td
          = link_to button_tag('Edit', class:'btn btn-mini'), supplier_articles_path(supplier)
          = t('.articles', count: supplier.articles.undeleted.count)
        %td
          = link_to button_tag('Edit', class:'btn btn-mini'), stock_articles_path
          = t('.stock', count: supplier.stock_articles.undeleted.count)
        %td
          = link_to button_tag('Edit', class:'btn btn-mini'), supplier_deliveries_path(supplier)
          = t('.deliveries', count: supplier.deliveries.count)
        - if current_user.role_suppliers?
          %td
            = link_to t('ui.edit'), edit_supplier_path(supplier), class: 'btn btn-mini'
            = link_to t('ui.delete'), supplier_path(supplier), method: :delete,
              :data => {confirm: t('.confirm_del', name: supplier.name)}, class: 'btn btn-mini btn-danger'
